@import '~open-color/open-color';
@import '~include-media/dist/include-media';

$breakpoints: (
	small: 376px,
	medium: 768px,
	large: 1024px,
  huge: 1200px
);

$size: 100px;//자주 쓰는 변수

@mixin place-at-center() { //자주쓰는 구문은 믹스인으로 다시 이용
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}